@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

html, body {
    margin: 0;
    height: 100%;
}

.btn-xlarge-question {
    padding: 18px 28px;
    font-size: 200%;
    width: 50%;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 200%;
    width: 50%;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn-ranks {
    padding: 18px 28px;
    font-size: 200%;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.main-page-logo {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mode-select-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
}

#navbar-profile-picture {
    margin-top: 2.5%;
    height: 20%;
    width: 20%;
    float:right;
}

.topic-icon {
    height: 60%;
    width: 60%;
}

.topic-select-bar {
    margin: 2%;
}