<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cerebro</title>
    <link th:if="${mode ==   'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="../static/sweetalert.css" th:href="@{/sweetalert.css}"/>
    <script type="text/javascript" src="/static/sweetalert.min.js" th:src="@{/sweetalert.min.js}"></script>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/index.controller.js" th:src="@{/app/index.controller.js}"></script>
    <script type="text/javascript" src="/static/app/question.controller.js" th:src="@{/app/question.controller.js}"></script>
    <script type="text/javascript" src="/static/app/role.controller.js" th:src="@{/app/role.controller.js}"></script>
    <script type="text/javascript" src="/static/app/roleuser.controller.js" th:src="@{/app/roleuser.controller.js}"></script>
    <script type="text/javascript" src="/static/app/topic.controller.js" th:src="@{/app/topic.controller.js}"></script>
    <script type="text/javascript" src="/static/app/user.controller.js" th:src="@{/app/user.controller.js}"></script>
    <script type="text/javascript" src="/static/app/userquestion.controller.js" th:src="@{/app/userquestion.controller.js}"></script>
</head>

<body ng-app="app" ng-controller="QuestionController as vm">

<div th:include="includes/header::body"></div>
<div ng-if="vm.gameMode"><div th:include="includes/mock.main::body"></div></div>
<div ng-if="!vm.gameMode"><div th:include="includes/mock.question::body"></div></div>
<!--<div th:include="includes/footer::body"></div>-->

<footer style="position: fixed;Width: 100%;bottom: 10%;">
    <!-- Social Footer, Colour Matching Icons -->
    <!-- Include Font Awesome Stylesheet in Header -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
    <!-- // -->
    <div class="container">
        <div class="text-center center-block">
            <p class="txt-railway">Imperial College London 2017</p>
            <a><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>

</footer>

</body>
</html>