<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Cerebro</title>
    <link rel="stylesheet" href="app/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/css/style.css" />
    <link rel="stylesheet" href="app/lib/sweetalert.css" />
    <script type="text/javascript" src="app/lib/sweetalert.min.js" ></script>
    <script type="text/javascript" src="app/lib/angular.min.js" ></script>
    <script type="text/javascript" src="app/js/app.module.js" ></script>
    <script type="text/javascript" src="app/js/index.controller.js" ></script>
    <script type="text/javascript" src="app/js/question.controller.js" ></script>
    <script type="text/javascript" src="app/js/login.controller.js" ></script>
    <script type="text/javascript" src="app/js/role.controller.js" ></script>
    <script type="text/javascript" src="app/js/roleuser.controller.js" ></script>
    <script type="text/javascript" src="app/js/topic.controller.js" ></script>
    <script type="text/javascript" src="app/js/user.controller.js" ></script>
    <script type="text/javascript" src="app/js/userquestion.controller.js" ></script>
</head>

<body ng-app="app" ng-controller="QuestionController as vm">

<div ng-include="'includes/header.html'"></div>
<div ng-if="vm.gameMode"><div ng-include="'includes/mock.main.html'"></div></div>
<div ng-if="!vm.gameMode"><div ng-include="'includes/mock.question.html'"></div></div>
<div ng-include="'includes/footer.html'"></div>

</body>
</html>