<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app/lib/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/style.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <script type="text/javascript" src="app/lib/angular.min.js" ></script>
    <script type="text/javascript" src="app/js/app.module.js" ></script>
    <script type="text/javascript" src="app/js/login.controller.js" ></script>
</head>

<body ng-app="app">
<div ng-include="'includes/header.html'"></div>

<div ng-app="app" ng-controller="LoginController as vm">
    <form action="/signin/facebook" method="POST">
        <input type="hidden" name="scope" value="public_profile" />
        <input type="submit" value="Login using Facebook"/>
    </form>
    <div class="container-fluid" name='form'>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <div class="row">
                    <img class="main-page-logo" src="app/misc/logo.png"/>
                </div>

                <div class="row">
                    <div class="col-sm-11">
                        <form class="form-horizontal" name='loginForm' action="login" method='POST'>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputUser">Login:</label>
                                <div class="col-sm-10">
                                    <input ng-model="inputUser" class="form-control" id="inputUser" name="username" placeholder="Enter login" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="inputPass">Password:</label>
                                <div class="col-sm-10">
                                    <input ng-model="inputPass" class="form-control" id="inputPass" name="password" placeholder="Enter password" type="password"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div ng-click="vm.record()">
                            <p>
                                <a class="btn btn-primary btn-block btn-lg">Login</a>
                            </p>
                        </div>

                        <div>
                            <p>
                                <a class="btn btn-primary btn-block btn-lg">Sign Up</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<div ng-include="'includes/footer.html'"></div>
</body>
</html>