<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script type="text/javascript" src="app/lib/angular.min.js" ></script>
    <script type="text/javascript" src="app/js/app.module.js" ></script>
    <script type="text/javascript" src="app/js/login.controller.js" ></script>
</head>
<body>

<div ng-app="app" ng-controller="LoginController as vm">
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input ng-model="inputUser" type='text' name='username' value='' /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input ng-model="passUser" type='password' name='password' /></td>
        </tr>
        <tr>
            <td><div ng-click="vm.record()"><input name="submit" type="submit" value="submit"/></div></td>
        </tr>
    </table>
</form>
</div>

</body>
</html>