<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app/lib/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/style.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <script type="text/javascript" src="app/lib/angular.min.js" ></script>
    <script type="text/javascript" src="app/js/app.module.js" ></script>

    <!--Dependencies for the header bar -->
    <script type="text/javascript" src="app/js/user.service.js" ></script>
    <script type="text/javascript" src="app/js/navigation.service.js" ></script>
    <script type="text/javascript" src="app/js/navigation.controller.js" ></script>
    <script type="text/javascript" src="app/js/rankings.controller.js" ></script>
    <script type="text/javascript" src="app/js/profile.controller.js" ></script>
    <!-- The login controller is not included, so the request is made after the login is confirmed from the backend. -->
</head>

<body ng-app="app">
<div ng-include="'includes/header.html'"></div>

<div id="fb-root"></div>

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    <img class="main-page-logo" src="app/misc/logo_final_2.png"/>
                </div>

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">

                            <form action="/signin/facebook" method="POST" id="facebookForm">
                                <input type="hidden" name="scope" value="public_profile" />
                                <input class="btn btn-trs btn-block btn-lg"
                                       type="submit"
                                       value="Login with Facebook"/>
                            </form>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>


<div ng-include="'includes/footer.html'"></div>

</body>
</html>