<head>
    <link rel="stylesheet" href="../../static/bootstrap.css"/>
</head>

<style>
#bg-video {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
}
.jumbovidtext {
    z-index: 1;
    position: absolute;
}
</style>

<div class="jumbotron">
    <video id="bg-video" autoplay="true" loop="loop" preload="metadata" muted="muted">
        <source src="../../static/app/misc/small.mp4" type="video/mp4" />
    </video>
    <div class="center jumbovidtext">
        <h1 class="txtjumbo">We are engage ME!</h1>
        <p class="txtjumbo">We are results driven.</p>
        <p><a class="btn center btn-primary btn-lg" id="botjumbo" href="#" role="button">Learn more</a></p>
    </div>
</div>
