<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="question">
<div>

<video id="bg-video" autoplay="true" loop="loop" preload="metadata" muted="muted" width="100%">
    <source th:src="@{app/misc/small.mp4}" type="video/mp4" />
</video>

<div> &nbsp;&nbsp;&nbsp;&nbsp; </div>
<div> &nbsp;&nbsp;&nbsp;&nbsp; </div>
<div> &nbsp;&nbsp;&nbsp;&nbsp; </div>
<div> &nbsp;&nbsp;&nbsp;&nbsp; </div>

<div class="jumbovidtext" ng-repeat="question in vm.question">
    <center><div class="jumbotron"><p> <h2>
        {{question.question}}
        <div id="timer"></div>
    </h2></p></div></center>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(true)">
        {{question.answer}}
    </a></p></div></center>

    <center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(false)">
        {{question.wrong1}}
    </a></p></div></center>

    <center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(false)">
        {{question.wrong2}}
    </a></p></div></center>

</div>
</div>
</div>
</body>
</html>