<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="question">
<div>

<div class="jumbovidtext" ng-repeat="question in vm.question">
    <div ng-if="!vm.endGame"><center><div class="jumbotron"><p> <h2>
        {{question.question}}
        <div id="timer"></div>
    </h2></p></div></center></div>
    <div ng-if= "vm.endGame"><center><div class="jumbotron"><p> <h2>
        Thank you for playing! You scored <label ng-repeat="good in vm.lastGood"> {{good * 20}} </label> %
        <div id="timer"></div>
    </h2></p></div></center></div>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <div ng-if="!vm.endGame"><center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(true)">
        {{question.answer}}
    </a></p></div></center></div>

    <div ng-if="!vm.endGame"><center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(false)">
        {{question.wrong1}}
    </a></p></div></center></div>

    <div ng-if="!vm.endGame"><center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(false)">
        {{question.wrong2}}
    </a></p></div></center></div>

    <div ng-if="vm.endGame"><center><div id="questionbutton"><p><a class="btn btn-primary btn-xlarge-question" ng-click="vm.gen(true)">
        End Game
    </a></p></div></center></div>

</div>
</div>
</div>
</body>
</html>