<div ng-controller="AdminController as admin">

    <div class="row">
        <div class="col-sm-1"></div>

        <div class="btn btn-default btn-ranks col-sm-1"
             ng-click="admin.exitAdmin()"> BACK </div>

        <div class="col-sm-8"></div>

        <div class="btn btn-default btn-ranks col-sm-1"
             ng-click="admin.approve()"> SUBMIT </div>
        <div class="col-sm-1"></div>

    </div>

    <div class="container" style="color:white;">
        <h2>Pending questions</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>Topic</th>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>Wrong choice 1</th>
                <th>Wrong choice 2</th>
                <th>Approve</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="question in admin.questionList track by $index">
                <td>{{$index + 1}}</td>
                <td>{{question.topic.topicname}}</td>
                <td>{{question.question}}</td>
                <td>{{question.answer}}</td>
                <td>{{question.wrong1}}</td>
                <td>{{question.wrong2}}</td>
                <td><input type="checkbox" ng-model="question.valid"></td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>

</div>