<header ng-controller="UserProfileController as vm" class="clearfix">
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="" class="navbar-brand">Cerebro</a></li>
                <li ng-if="vm.currentUser != undefined"><a href="">My profile</a></li>
                <li ng-if="vm.currentUser != undefined"><a href="">Leaderboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="vm.currentUser != undefined">
                    <div>
                        <div><b>User:</b> {{vm.currentUser.name}}</div>
                        <div><b>Rating:</b> {{vm.currentUser.rating}} </div>
                    </div>
                </li>

                <li ng-if="vm.currentUser != undefined">
                    <div class="inset">
                        <img ng-src="https://graph.facebook.com/{{vm.currentUser.login}}/picture?type=large&redirect=true&width=650&height=650"/>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
