<div ng-controller="RankingsController as rank">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="btn btn-default btn-ranks col-sm-1"
             ng-click="rank.exitRankings()"> BACK </div>
        <div class="col-sm-10"></div>
    </div>

    <div class="container" style="color:white;">
        <h2>Leaderboard</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in rank.userList track by $index">
                <td>{{$index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.rating}}</td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>

</div>