<div ng-controller="TopicController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Topics</a></li>
                    <li role="presentation"><a href="#">Books</a></li>
                </ul>
                <div class="container-fluid" ng-repeat="group in topics">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                <img class="topic-icon" src="../app/misc/laptop.png">
                                <div class="caption text-center">
                                    <h3>{{group[0].topicname}}</h3>
                                    <p><a href="#" class="btn btn-primary" role="button" ng-click="nav.startSingle(group[0].id)">Start game</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" ng-if="group[1] != undefined">
                            <div class="thumbnail">
                                <img class="topic-icon" src="../app/misc/laptop.png">
                                <div class="caption text-center">
                                    <h3>{{group[1].topicname}}</h3>
                                    <p><a href="#" class="btn btn-primary" role="button" ng-click="nav.startSingle(group[1].id)">Start game</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" ng-if="group[2] != undefined">
                            <div class="thumbnail">
                                <img class="topic-icon" src="../app/misc/laptop.png">
                                <div class="caption text-center">
                                    <h3>{{group[2].topicname}}</h3>
                                    <p><a href="#" class="btn btn-primary" role="button" ng-click="nav.startSingle(group[2].id)">Start game</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
